/*body { background-color: #f7f7f7;}*/

.title a {
	color: #004FA3;
}

.title a:hover {
	color: #003670;
	text-decoration: none;
}

.inset-row { padding-top: 60px; }
.nav-col { padding-top: 60px;}

ul.menu li {
	display: block;
	/*padding: 0 4px;*/
}

.headshot { 
	border: 1px solid #ccc; 
	width: 109px;
	height: 109px;
	text-align: center;
	margin: auto;
}

.bio {
	color: #999;
}

.bio a { color: #528dcc; }
.bio a:hover { color: #4171a3; }

.date {
	font-size: 14px;
	font-weight: bold;
	color: #bfbfbf;
}

.post-footer {
	/* to match bootstrap's hr element */
	border-top: 1px solid #eee;
	padding-top: 19px;	
}