<p>
	<img src="/img/headshot-low-contrast.png" alt="Phillip Kast's head" class="headshot" />
</p>
<p class="bio">
	Hi, I'm Phillip Kast. Currently I'm based in Seattle, WA and I <a href="http://yearofcode.com">write software</a> for iOS, Mac and the web.
</p>
<p class="bio">
	Previously I founded a YC-funded company and was the first employee of another that was acquired. Then I was the first engineering hire at Urbanspoon, where I built <a href="http://rez.urbanspoon.com/">Rezbook</a>, their online reservation product.
</p>
<p class="bio">
	When I'm not at the keyboard, I can often be found running, kayaking, or climbing around the PNW.
</p>
<p class="bio">
	 <a href="http://twitter.com/yeahphil">Follow me on twitter</a> or <a href="http://github.com/yeahphil">fork me on github</a>.
 </p>